@using asp1.Models;
@model List<Student>;

@{
    Layout = "_Layout";
}


<div class="container">
    <div class="row">
        <ul class="list-group">
            @foreach (var item in Model)
            {
    
                    <li class="list-group-item">@item.Id @item.Name @item.Surname @item.Surname</li>
     
            }
        </ul>
    </div>
</div>

